$color1: #6a3cbc; 
$color2: #461b93;
$color3: #f78f1e;

//MIXIN ANIMATION 
@mixin animation-mixin($value){
    -webkit-animation: $value 3s 1;
    -moz-animation: $value 0.5 1;
    -ms-animation: $value 0.5 1;
     animation: $value 0.5 1;
 }

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    box-sizing: border-box;
    font-size: 16px;


    .loader-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: $color1;
        
        

        h1 {
            font-size: 70px;
            color: white;
            @include animation-mixin(rodar);
            letter-spacing: 2px;
            background-color: $color1;
           margin-bottom: 0px;
           margin-top: 0px;
            position: relative;
        }

        h4 {
            font-size: 30px;
            letter-spacing: 2px;
            color: white;
            margin-top: 0px;
          
           
            
        }
    }
    .container {
        background: linear-gradient(
        to right,
        white 0%,
        white 33%,
        $color1 33%,
        $color1 100%
        );
        height: 100vh;
        padding: 0;
        

        .logo {
            padding: 40px;

            .logo-first{
                padding: 0px;
                margin: 0px;
                font-weight: 900;
            }

            .logo-second {
                padding: 0px;
                margin: 0px;
                font-weight: 400;
            }

        }


        .container-carousel {
            display: flex;

            .description {
                display: flex;
                flex-direction: column;
                width: 40%;
                margin-left: 15%;
                

                h1 {
                    padding: 0px;
                    margin: 0px;
                    font-size: 7em;
                }

                p {
                    border-top: 2px solid $color1;
                    padding-top: 20px;
                    width: 50%;
                    font-size: 1.2em;
                }

                button {
                    position: relative;
                    width: 220px;
                    height: 50px;
                    border: none;
                    font-size: 1.1em;
                    color: white;
                    border-radius: 30px;
                    background-color: $color1;
                    padding: 0.5em;
                    
                    
                

                span {
                    display: inline-block;
                    vertical-align: middle;
                    content: url(../img/right-arrow.svg);
                    color: white;
                    margin-left: 0.3em;
                    width: 1em;
                    height: 1em;
                
                }
            }
            

            }

            .carousel-projects {
                display: flex;

                .project1, .project2 {
                    height: 70vh;
                    width: 250px;
                    border-radius: 20px;
                    box-shadow: 0px 0px 24px -1px rgba(0,0,0,1);

                }

                .project1 {
                   
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    margin-right: 20px;
                    position: relative;

                    &:hover{
                        background-image: none;
                        background-color: white;
                    }
                    
            
                    .inner-box {
                        background: $color2;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        top: 0;
                        left: 0;
                        position: absolute;
                        border-radius: 20px;
                        padding: 0;
                        opacity: 0.75;
                        display: flex;
                        flex-direction: column;

                       
                 
                        h1 {
                            padding-left: 10px;
                            padding-bottom: 0px;
                            margin-top:auto;
                            margin-bottom: 10px;
                            color: white;
                            font-size: 2.5em;
                            letter-spacing: 1px;
                           
                            
                        }
                        .line {
                            border-top: 2px solid white;
                            width: 30%;
                            margin-left: 10px;
                            margin-top: 5px;
                            margin-bottom: 5px;
                            
                        }
                        p {
                            margin-top: 5px;
                            padding: 10px;
                            color: white;
                            font-weight: 500;
                        
                           
                        }

                    }
                }
                .project2 {
                    background-image: url(../img/);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 20%;
                    position: relative;

                    .inner-box {
                        background: $color2;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        top: 0;
                        left: 0;
                        border-radius: 20px;
                        position: absolute;
                        padding: 0;
                        opacity: 0.6;
                        display: flex;
                        flex-direction: column;


                        h1 {
                            padding-left: 10px;
                            padding-bottom: 0px;
                            margin-top:auto;
                            margin-bottom: 10px;
                            color: white;
                            font-size: 2.5em;
                            letter-spacing: 1px;
                           
                            
                        }
                        .line {
                            border-top: 2px solid white;
                            width: 30%;
                            margin-left: 10px;
                            margin-top: 5px;
                            margin-bottom: 5px;
                            
                        }
                        p {
                            margin-top: 5px;
                            padding: 10px;
                            color: white;
                            font-weight: 500;
                        
                           
                        }
                        
                    }

                    
                }
            }

        }
    }



    /* GRAPHICS */

    .graphics {
       
        padding: 40px;
        


        h1 {
            font-size: 2.5em;
            text-align: center;
        }

        .images {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            width: 100%;

            .container-img {
                width: 32%;
                height: 300px;
                position: relative;
                
                img {
                    width:100%;
                    height: 100%;
                    max-height: 90vh;
                }

                .middle {
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);

                    button {
                        width: 220px;
                        height: 50px;
                        border: none;
                        font-size: 1.1em;
                        color: white;
                        border-radius: 30px;
                        background-color: black;
                        padding: 0.5em;
                        cursor: pointer;
                    }

                }

                &:hover {
                    .middle {
                        opacity: 2;
                    }
                }

                .modalDialog {
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: rgba(0,0,0,0.8);
                    z-index: 99999;
                    opacity:0;
                    transition: opacity 400ms ease-in;
                    pointer-events: none;
                   

                    &:target {
                        opacity:1;
                        pointer-events: auto;
                    }

                    .modal-content {
                        width: 100%;
                        height: 100%;
                        background: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                     
                        img {
                            width: auto;
                            height: 100%;
                            max-height: 90vh;
                            box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.75);

                            &:nth-child(2) {
                                margin-right: 100px;
                            }
                        }

                        .close {
                           
                            color: black;
                            line-height: 25px;
                            font-size: 1.5em;
                            position: absolute;
                            right: 20px;
                            text-align: center;
                            top: 20px;
                            width: 50px;
                            text-decoration: none;
                            font-weight: bold;

                            &:hover {
                                color: #000;
                                text-decoration: none;
                                cursor: pointer;
                            }

                            &:focus {
                                color: #000;
                                text-decoration: none;
                                cursor: pointer;
                            }
                        }
                        
                     
        
                    }
                    
                }

                
            }
        }
        
    }


    @keyframes rodar {
        0% {
          color: $color2;
          margin-bottom: -6%;
        }
        30% {
          letter-spacing: 8px;
          margin-bottom: -6%;
        }  
        85% {
          letter-spacing: 2px;
          margin-bottom: -6%;
        }
        
       
      }
      

}